In [50]:
#
# Amostra aleatoria simples com random.sample
#

In [16]:
from random import sample

In [4]:
population = range(1, 50)

In [5]:
sample(population, 6)

[7, 5, 1, 16, 19, 21]

In [18]:
sample(population, 6)

[23, 33, 43, 38, 42, 27]

In [19]:
# Amostra aleatoria simples com pandas

In [20]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.5.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 17.7 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Collecting numpy>=1.21.0
  Downloading numpy-1.24.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 13.8 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: numpy, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.10 are installed in '/home/felyp.fernandes/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.24.2 pandas-1.5.3
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pandas

In [41]:
population = range(1, 8)

In [42]:
frame = pandas.DataFrame(population, columns = ["values"])

In [43]:
frame

   values
0       1
1       2
2       3
3       4
4       5
5       6
6       7

In [45]:
frame.sample(n = 4) # por quantidade definida

   values
3       4
2       3
5       6
1       2

In [48]:
frame.sample(frac = 0.33) # por porcetual de dados

   values
5       6
0       1

In [51]:
#
# Amostra aleatoria sistematica
#

In [1]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/felyp.fernandes/.local/lib/python3.10/site-packages (1.24.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy

In [3]:
population = range(1, 30)

In [5]:
population_len = len(population)