In [1]:
#
# Amostra aleatoria simples com random.sample
#

In [2]:
from random import sample

In [3]:
population = range(1, 50)

In [4]:
sample(population, 6)

[24, 22, 40, 48, 5, 39]

In [5]:
sample(population, 6)

[27, 8, 34, 13, 12, 23]

In [6]:
# Amostra aleatoria simples com pandas

In [7]:
pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas

In [9]:
population = range(1, 8)

In [10]:
frame = pandas.DataFrame(population, columns = ["values"])

In [11]:
frame

   values
0       1
1       2
2       3
3       4
4       5
5       6
6       7

In [12]:
frame.sample(n = 4) # por quantidade definida

   values
0       1
4       5
3       4
6       7

In [13]:
frame.sample(frac = 0.33) # por porcetual de dados

   values
5       6
2       3

In [14]:
#
# Amostra aleatoria sistematica
#

In [15]:
population = range(1, 30)

In [16]:
population_len = len(population)

In [17]:
population_selection = []

In [18]:
for i in range(0, population_len, 3):
    population_selection.append(population[i])

In [19]:
population_selection

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

In [20]:
#
# Amostra aleatoria sistematica com numpy
#

In [21]:
pip install numpy

Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.10/site-packages (1.24.2)

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [22]:
import numpy as np

In [23]:
import pandas

In [24]:
population_selection = np.arange(1, 30, step=3)

In [25]:
population_selection

array([ 1,  4,  7, 10, 13, 16, 19, 22, 25, 28])

In [26]:
frame = pandas.DataFrame(population_selection, columns = ["values"])

In [27]:
frame

   values
0       1
1       4
2       7
3      10
4      13
5      16
6      19
7      22
8      25
9      28

In [28]:
#
# Amostragem extratificada
#

In [29]:
import pandas

In [30]:
groups = list("aabcccccdeeefff".upper())

In [31]:
groups

['A', 'A', 'B', 'C', 'C', 'C', 'C', 'C', 'D', 'E', 'E', 'E', 'F', 'F', 'F']

In [32]:
values = [i for i in range(1, len(groups) + 1)]

In [33]:
values

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [34]:
frame = pandas.DataFrame({ "groups": groups, "values": values })

In [35]:
frame

   groups  values
0       A       1
1       A       2
2       B       3
3       C       4
4       C       5
5       C       6
6       C       7
7       C       8
8       D       9
9       E      10
10      E      11
11      E      12
12      F      13
13      F      14
14      F      15

In [36]:
def amostra_estratificada(frame: pandas.DataFrame, n: int, estrato: str) -> pandas.DataFrame:
    length = lambda x: min(len(x), n)
    apply = lambda x: x.sample(length(x))
    return frame.groupby(estrato, group_keys=False).apply(apply)

In [37]:
amostra_estratificada(frame, 3, 'groups')

   groups  values
0       A       1
1       A       2
2       B       3
6       C       7
5       C       6
4       C       5
8       D       9
9       E      10
11      E      12
10      E      11
13      F      14
14      F      15
12      F      13

In [38]:
frame.shape

(15, 2)

In [39]:
def amostra_estratificada_percentual(frame: pandas.DataFrame, n: int, estrato: str) -> pandas.DataFrame:
    tamanho_populacao, _ = frame.shape
    calculo = lambda group: int(n * len(group) / tamanho_populacao)
    apply = lambda group: group.sample(calculo(group))
    return frame.groupby(estrato, group_keys=False)\
        .apply(apply)\
        .reset_index(drop=True)\
        .sort_values(by=estrato)

In [40]:
amostra_estratificada_percentual(frame, 5, 'groups')

  groups  values
0      C       6
1      E      11
2      F      15

In [41]:
#
# Amostragem por conglomerado
#

In [43]:
from random import sample

In [44]:
import pandas

In [51]:
def amostra_conglomerado(frame: pandas.DataFrame, conglomerados_count: int, conglomerado: str) -> pandas.DataFrame:
    """
    Sorteia os grupos ao inves dos dados.
    
    Args:
        frame (pandas.DataFrame): Data frame pandas aonde se encontra os dados.
        conglomerados_count (int): Quantos conglomerados devem ser retornados.
        conglomerado (str): Qual a coluna do frame que representa um conglomerado.
    """
    conglomerados = list(frame[conglomerado].unique())
    conglomerados_length = len(conglomerados)
    conglomerados_count = min(conglomerados_count, conglomerados_length)
    conglomerados_sorted = sample(conglomerados, conglomerados_count)
    # busca apenas grupos que estao em conglomerados_soted
    return frame[frame[conglomerado].isin(conglomerados_sorted)]

In [53]:
amostra_conglomerado(frame, 3, 'groups')

   groups  values
0       A       1
1       A       2
9       E      10
10      E      11
11      E      12
12      F      13
13      F      14
14      F      15

In [54]:
# Livro: https://bookdown.org/luisfca/docs/#p%C3%BAblico-alvo
# Datasets: https://www.kaggle.com/datasets