In [1]:
#
# Amostra aleatoria simples com random.sample
#

In [2]:
from random import sample

In [3]:
population = range(1, 50)

In [4]:
sample(population, 6)

[39, 49, 37, 16, 38, 9]

In [5]:
sample(population, 6)

[47, 27, 42, 31, 5, 24]

In [6]:
# Amostra aleatoria simples com pandas

In [7]:
pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas

In [9]:
population = range(1, 8)

In [10]:
frame = pandas.DataFrame(population, columns = ["values"])

In [11]:
frame

   values
0       1
1       2
2       3
3       4
4       5
5       6
6       7

In [12]:
frame.sample(n = 4) # por quantidade definida

   values
5       6
6       7
3       4
1       2

In [13]:
frame.sample(frac = 0.33) # por porcetual de dados

   values
5       6
3       4

In [14]:
#
# Amostra aleatoria sistematica
#

In [27]:
population = range(1, 30)

In [28]:
population_len = len(population)

In [29]:
population_selection = []

In [30]:
for i in range(0, population_len, 3):
    population_selection.append(population[i])

In [31]:
population_selection

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

In [32]:
#
# Amostra aleatoria sistematica com numpy
#

In [15]:
pip install numpy

Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.10/site-packages (1.24.2)

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [26]:
import numpy as np

In [37]:
import pandas

In [35]:
population_selection = np.arange(1, 30, step=3)

In [46]:
population_selection

array([ 1,  4,  7, 10, 13, 16, 19, 22, 25, 28])

In [47]:
frame = pandas.DataFrame(population_selection, columns = ["values"])

In [48]:
frame

   values
0       1
1       4
2       7
3      10
4      13
5      16
6      19
7      22
8      25
9      28

In [49]:
#
# Amostragem extratificada
#

In [61]:
import pandas

In [85]:
group_a = list("aabccccceeeffff".upper())

In [86]:
group_a

['A', 'A', 'B', 'C', 'C', 'C', 'C', 'C', 'E', 'E', 'E', 'F', 'F', 'F', 'F']

In [87]:
group_b = [i for i in range(1, len(group_a) + 1)]

In [88]:
group_b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [92]:
frame = pandas.DataFrame({ "groups": group_a, "values": group_b })

In [93]:
frame

   groups  values
0       A       1
1       A       2
2       B       3
3       C       4
4       C       5
5       C       6
6       C       7
7       C       8
8       E       9
9       E      10
10      E      11
11      F      12
12      F      13
13      F      14
14      F      15